 <!-- Header -->
    <header class="header-page" style="background-image: url('{{ site.baseurl }}/img/{% if page.page-img %}{{ page.page-img }}{% endif %}');">
    	<div class="header-overlay">
	        <div class="container">
	            <div class="intro-text"> 	                 
	                 <div class="intro-heading">
	                 	<h1><span class="grand">Kislak Center</span> <br />
	                 		at the University of Miami</h1>
	                 </div> 
	                 <div class="intro-lead-in">
	                 	<p class="overlay-text">Home of Special Collections and University Archives</p>
	                 </div>
	            </div>
	        </div>
	    </div>
    </header>
