// Button Styles

.btn-default {
    @include button-variant(_palette(text), _palette(base), _palette(base));
}

.btn-primary {
    @include button-variant(_palette(base), _palette(highlight), _palette(base));
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.focus,
.btn-primary.active {
    color: _palette(base) !important;
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: _size(border-radius);
    font-weight: _font(weight-bold);
    text-transform: uppercase;
    font-size: 16px;
}

.btn-xl {
    padding: 15px 30px;
}

.btn-post {
    @include button-variant(_palette(text), _palette(element-bg), _palette(border));
}