---
layout: page
---
{{content}}
<section id="portfolio" class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4">
                <div class="portfolio-box">
                     <img src="{{ page.portfolio-img-1 }}" class="img-responsive" alt="{{ page.portfolio-img-alt }}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portfolio-box">
                    <img src="{{ page.portfolio-img-2 }}" class="img-responsive" alt="{{ page.portfolio-img-alt }}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portfolio-box">
                    <img src="{{ page.portfolio-img-3 }}" class="img-responsive" alt="{{ page.portfolio-img-alt }}">
                </div>
            </div>
        </div>
    </div>
</section>