<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="post">
  {% include nav.html %}
  {% include header-page.html %}

<section class="section">
	<div class="container">
		<div class="text-center">                
        	<h2 class="section-heading">{{ page.title }}</h2>
        	<hr> 
        	<p>
			  <strong>{{ page.date | date: "%B %-d, %Y" }}</strong>
			</p>          	
    	</div>		
  		{{ content }}
  		
  		<!-- Post navigation -->
  		<div class="sub-section">
	  		<div class="row">
	  			<div class="col-md-6">
	  				&nbsp;
		            {% if page.previous.url %}
		            <a id="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">              
		              <span class="btn btn-default btn-post">
		                <i class="fa fa-chevron-left"></i> {{ site.theme_settings.str_prev }}
		              </span><span class="post-title">{{ page.previous.title }}</span>
		            </a>
		            {% endif %}
	  			</div>
	  			<div class="col-md-6">
	  				{% if page.next.url %}
			        <a id="next-post" href="{{ site.baseurl }}{{ page.next.url }}">
			           <span class="post-title">{{ page.next.title }}</span><span class="btn btn-default btn-post">
			            {{ site.theme_settings.str_next }} <i class="fa fa-chevron-right"></i></span>
			         </a>
			        {% endif %}
	  			</div>
	  		</div>
	  	</div>

  	</div>
</section>
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>