/* Posts */

// Post navigation

#prev-post {
  text-align: left;
  display: inline-block;
  border: none;
  margin-bottom: 30px;

  .post-title {
    margin-left: 0.5em;
  }
}

#next-post {
  text-align: right !important;
  display: block;
  border: none;
 
  .post-title {
    margin-right: 0.5em;
  }
}

.post-title {
	max-width: 85%;
	font-size: 14px;
	font-weight: _font(weight-bold);
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2em;
}

i {
  vertical-align: middle;
}

.post-date {
	font-size: 0.9em;
}

@media (min-width: 600px) {
  	.post-title {
    	max-width: 50%;
  	}

  	#prev-post {
  	 	margin-bottom: 0;
	}
}


@media (min-width: 768px) {
	.post-title {
    	max-width: 50%;
  	}	
}

@media (min-width: 992px) {
	.post-title {
    	max-width: 95%;
  	}	
}